{% extends 'base.html' %} {% block content %}

<h1>Crystal Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ crystal.name }}</span>
                <p>Mineral Family: {{ crystal.family }}</p>
                <p>Hardness: {{ crystal.hardness }}</p>
                <p>Color: {{ crystal.color }}</p>
            </div>
            <div class="card_action">
                <a href="{% url 'crystals_update' crystal.id %}">Edit</a>
                <br />
                <a href="{% url 'crystals_delete' crystal.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_cleansing' crystal.id %}" method="post">
            {% csrf_token %} {{ cleansing_form.as_p }}
            <input type="submit" class="btn" value="Add Cleasning" />
        </form>
        <!-- {% if crystal.cleansed_for_the_month %}
        <div class="card-panel teal-text center-align">
            {{crystal.name}} has been cleansed within the past month.
        </div>
        {% else %}
        <div class="card-panel red-text center-align">
            {{crystal.name}} might need to be cleansed.
        </div>
        {% endif %} -->
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Method</th>
                </tr>
            </thead>
            <tbody>
                {% for cleansing in crystal.cleansing_set.all %}
                <tr>
                    <td>{{cleansing.date}}</td>
                    <td>{{cleansing.get_method_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col s6">
        <h3>{{ crystal.name }}'s Location</h3>
        {% if crystal.location.count %} {% for location in crystal.location.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    The crystal is on/in my {{ location.place }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_location_remove' crystal.id location.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Move</button>
            </form>
        </div>
        {% endfor %} {% else %}
        <h5>No Recorded Location</h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h3>Move Your Crystal</h3>
        {% if location.count %}
            {% for location in location.all %}
                <div class="card">
                    <div class="card-content">
                        <span>{{ location.place }}</span>
                    </div>
                    <div class="card-action">
                            <form action="{% url 'assoc_location' crystal.id location.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn">Add</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>{{ crystal.name }} Has Too Many Locations And Might Get Lost!</h5>
        {% endif %}
    </div>
</div>
<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    var selectEl = document.getElementById('id_method');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}